@import url(../reindeer/styles.css);

.v-app {
    background-image : url(green.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

 .v-panel-content-desktop > div {
   background: transparent;
}